{% extends 'base.html.twig' %}
{% block title %}Listado de Pagos{% endblock %}
{% block body %}
    <div class="container">
        <h1>Listado de Pagos</h1>
        <div class="row">
            <div class="col-md-12">
                
            
                <div class="table-responsive">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th>Codigopago</th>
                                <th>Importe</th>
                                <th>Fecha</th>
                                <th>usuarios</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pago in pagos %}
                            <tr>
                                <td>{{ pago.codigopago }}</td>
                                <td>{{ pago.importe }}</td>
                                <td>{{ pago.fecha|date('d-m-Y') }}</td>
                                <td>
                                    {% if pago.usuarios is defined %}
                                    {% for usuario in pago.usuarios %}
                                        <div>
                                            {{usuario.codigousuario}} - {{usuario.usuario}}
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        <a href="{{ path('pago_show', { 'codigopago': pago.codigopago }) }}"><i class="glyphicon glyphicon-zoom-in"></i> Mostrar Detalles </a>
                                    </div>
                                    <div>
                                        <a href="{{ path('pago_edit', { 'codigopago': pago.codigopago }) }}"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col md-12 text-left">
                 <a href="{{ path('pago_new') }}"><div type="button" class="btn btn-primary">Agregar Pago</div></a>
            </div>
            
        </div>


    </div>
{% endblock %}


