{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pago</h1>

    <table>
        <tbody>
            <tr>
                <th>Codigopago</th>
                <td>{{ pago.codigopago }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ pago.importe }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if pago.fecha %}{{ pago.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pago_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pago_edit', { 'codigopago': pago.codigopago }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
