{% extends 'base.html.twig' %}
{% block title %}Editar Usuario{% endblock %}
{% block body %}
    <div class="container">
        <h1>Editar Usuario</h1>
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-12">
                
                <div class="form-group">
                    <div>
                        <label>Usuario</label>
                        <div class="text-danger">
                            {{ form_errors(edit_form.usuario) }}
                        </div>
                    </div>
                    {{ form_widget(edit_form.usuario) }}
                </div>

                <div class="form-group">
                    <div>
                        <label>Clave</label>
                        <div class="text-danger">
                            {{ form_errors(edit_form.clave) }}
                        </div>
                    </div>
                    {{ form_widget(edit_form.clave) }}
                </div>      
                
                <div class="form-group">
                    <div>
                        <label>Edad</label>
                        <div class="text-danger">
                            {{ form_errors(edit_form.edad) }}
                        </div>
                    </div>
                    {{ form_widget(edit_form.edad) }}
                </div>

                <div class="form-group">
                    <div>
                        <label>Favoritos</label>
                    </div>
                    {{ form_widget(edit_form.favoritos) }}
                </div>  
                
                
            </div>

                

                
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <br>
                    <input type="submit"  class="btn btn-primary" value="Editar Usuario" />
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}  
 
    </div>


{% endblock %}