

{% extends 'base.html.twig' %}
{% block title %}Listado de Usuarios{% endblock %}
{% block body %}
    <div class="container">
        <h1>Listado de Usuarios</h1>
        <div class="row">
            <div class="col-md-12">
                
            
                <div class="table-responsive">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th>Codigousuario</th>
                                <th>Usuario</th>
                                <th>Clave</th>
                                <th>Edad</th>
                                <th>Favoritos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.codigousuario }}</td>
                                <td>{{ usuario.usuario }}</td>
                                <td>{{ usuario.clave }}</td>
                                <td>{{ usuario.edad }}</td>
                                <td>
                                    {% if usuario.favoritos is defined %}
                                    {% for favorito in usuario.favoritos %}
                                        <div>
                                            {{favorito.codigousuario}} - {{favorito.usuario}}
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        <a href="{{ path('usuario_show', { 'codigousuario': usuario.codigousuario }) }}"><i class="glyphicon glyphicon-zoom-in"></i> Mostrar Detalles </a>
                                    </div>
                                    <div>
                                        <a href="{{ path('usuario_edit', { 'codigousuario': usuario.codigousuario }) }}"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col md-12 text-left">
                 <a href="{{ path('usuario_new') }}"><div type="button" class="btn btn-primary">Agregar un nuevo usuario</div></a>
            </div>
            
        </div>


    </div>
{% endblock %}

